.CreateBox {
  width: 50%;
  height: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  .Totop {
    
  }
}