.EventCreateBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  .InputBox {
    width: 50%;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 450px;

    .info {

      .title {
        color: black;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 3rem;
      }
    }

    .form {
      span {
        color: red;
      }
      .field {
        margin-bottom: 2rem;
        
        .label {
          font-size: 1.2rem;
        }
        .control.has-icons-left {

          .input {
            width: 25%;
          }
        }
      }
      .EventField {

        #ImageBox-1{
          display: flex;
          flex-wrap: wrap;
  
          .EventImage{
            width: 180px;
          }
          
          .Event-num-0{
            width: 940px;
            content: '';
            text-align: center;
            height: 150px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-1{
            width: 760PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-2{
            width: 580PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-3{
            width: 400PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-4{
            width: 220PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-5{
            width: 940px;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-6{
            width: 760PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-7{
            width: 580PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-8{
            width: 400PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .Event-num-9{
            width: 220PX;
            content: '';
            text-align: center;
            height: 180px;
            padding: 0.5em 1em;
            background: #f0f7ff;
            border: dashed 2px rgb(214, 214, 214);
          }
          .img-label{
            flex-wrap: wrap;
            .EventImage{
              &__content{
                &--icon{
                  object-fit: contain;
                }
              }
            }
          }
          .fas.fa-camera{
            margin-top: 75px;
          }
          .EventImage__operetion{
            width: 50px;
            margin-right: 0px;
            &--delete{
              cursor: pointer;
              text-align: center;
              &:hover{
                background-color: #3CCACE;
                border-radius: 4px;
                color: #f0f7ff;
              }
            }
          }
          .js-file,.js-file-edit{
            display: none;
          }
        }
      }

      

      .NewEventBtn {
        margin-top: 2rem;
        color: #FFF;
        display: inline-block;
        background-color: #3CCACE;
        color: #FFFFFF;
        width: 40%;
        height: 48px;
        font-size: 18px;
        border-radius: 100px;
        font-weight: 600;
        border: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 48px;
      }
      .NewEventBtn:hover {
        opacity: 0.5;
      }
    }
  }
}