.Event {
  width: 60%;
  min-height: 100vh;
  padding: 30px;
  border: 5px solid lightgray;
  margin: auto;
  // position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &--image {
    margin: 0 auto;
  }

  .name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .important {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;

    .reward {
      font-weight: bold;
    }

    .genre {
      font-weight: bold;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    margin-top: 20px;
  
    th {
      border-bottom: solid 5px #fb5144;
      padding: 10px 0;
      width: 20%;
    }
  
    td {
      border-bottom: solid 2px #ddd;
      text-align: center;
      padding: 10px 0;
    }
    .detail {
      text-align: left;
    }
  }

  .item {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .details {
    margin-top: 20px;
  }

  .btn {
    position: absolute;
    bottom: 40px;
    left: 400px;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 4px;
  }
  .btn:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  .EventOwener {
    color: red;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .Application {
    margin-top: 50px;
    width: 55%;

    h3 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .EventApplication {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input {
        display: block;
        width: 50%;
        margin-bottom: 10px;
        padding: 15px;
        border: 1px solid lightgray;
        margin-top: 10px;
      }

      .video {
        font-size: 2rem;
      }
      .Hidden {
        // display: none;
        position: relative;
      }

      .ApplicationSubmit {
        background-color: #3CCACE;
        color: #FFFFFF;
        width: 60%;
        height: 48px;
        font-size: 18px;
        border-radius: 100px;
        font-weight: 600;
        border: 1px solid transparent;
        cursor: pointer;
      }
      .ApplicationSubmit:hover {
        opacity: 0.5;
      }
    }
  }
  .MainShow__box__comment{
    padding: 24px;
    background-color: #fff;
    margin: 10px 0;
    text-align: center;
  
    .Title {
      font-size: 24px;
      font-weight: bold;
      color: #3ccace;
      margin-bottom: 10px;
    }
  
    .MainShow__box__comments{
      padding: 10px;
  
      .Profile {
        display: flex;
        justify-content: flex-end;
        &__name {
          font-weight: bold;
          margin-right: 20px;
        }
        .Image {
          font-size: 50px;
          margin-bottom: 5px;
        }
        .user-circle {
          border-radius: 50px;
          width: 50px;
          height: 50px;
        }
        .Seller_or_buyer {
          font-size: 12px;
          padding: 2px;
          border-radius: 8px;
          background-color: #3ccace;
          color: #fff;
        }
      }
      .Comment {
        background-color: #eee;
        width: 91%;
        padding: 8px;
        margin-top: -55px;
        border-radius: 12px;
  
        &__text {
          text-align: left;
          word-break: break-all;
        } 
        &__bottom {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
          margin-top: 5px;
          color: #6d6d6d;
          font-size: 12px;
  
          a {
            text-decoration: none;
            color: #6d6d6d;
          }
        }
      }
      .MainShow__box__comment__comments--other{
        padding: 10px;
        display: flex;
  
        .Profile {
          display: flex;
          justify-content: flex-start;
          .Image {
            font-size: 50px;
            margin-bottom: 5px;
          }
          .Seller_or_buyer {
            font-size: 12px;
            padding: 2px;
            border-radius: 8px;
            background-color: #3ccace;
            color: #fff;
          }
        }
        .Comment {
          background-color: #cdf4f4;
          width: 100%;
          padding: 8px;
          margin: 25px 0px 0px -40px;
          border-radius: 12px;
          max-width: 570px;
  
          &__text {
            text-align: left;
            width: 100%;
            word-break: break-all;
          } 
          &__bottom {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            margin-top: 5px;
            color: #6d6d6d;
            font-size: 12px;
  
            a {
              text-decoration: none;
              color: #6d6d6d;
            }
          }
          &__icon {
            display: flex;
          }
        }
      }
    }
    .New_comment{
      margin-top: 40px;
  
      .Text_area{
        width: 100%;
        min-height: 104px;
        padding: 10px;
      }
      .note{
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }
      .Send{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
        .Comment__btn{
          background-color: #3CCACE;
          color: #FFFFFF;
          width: 60%;
          height: 48px;
          font-size: 18px;
          border-radius: 100px;
          font-weight: 600;
          border: 1px solid transparent;
          cursor: pointer;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
  .MainShow__box__comments#Comments{
    padding: 10px;
  }
  .MainShow__box__comment__comments--other#Comments{
    padding: 10px;
    display: flex;
  }
}