@import "reset";
@import "modules/index";
@import "events/show";
@import "events/new";
@import "events/create";
@import "events/destroy";
@import "users/show";
@import "users/edit";
@import "users//update";
@import "registrations/new";
@import "sessions/new";
@import "modules/header";
@import "modules/footer";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  @import "bulma";

 .notification:not(:last-child){
   margin-bottom: 0;
 }
 
 .Wrapper {
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;

    // span {
    //   color: red;
    // }

    .CreateEvent {

      &--btn {
        position:fixed;
        right:50px;
        bottom:50px;
        opacity:0.7;
        color: black;
        background-color: white;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        line-height: 180px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid lightgray;
        // outline: 1px solid;
        outline-color: rgba(255, 255, 255, 0.5);
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
        text-align: center;
      }
      &--btn:hover {
        color: white;
        background-color: black;
      }
    }

 }