* {
  box-sizing: border-box;
}

.ContentMypage {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;

  .MypageTop {
    height: 850px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .MypageImage {  
      margin: 0 auto;

      .UserImage__icon {
        width: 300px;
        height: 300px;
        //サイズ指定
        border: 1px solid white;
        border-radius: 50%;
        //画像を丸くする
        object-fit: cover;
      }
      .NoImage__icon {
        width: 300px;
        height: 300px;
        //サイズ指定
        border: 1px solid white;
        border-radius: 50%;
        //画像を丸くする
        object-fit: cover;
      }
    }

    .MypageName {
      font-size: 40px;
      color: #fff;
    }
  }

  .MypageMiddle {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      // margin-top: 100px;
      // margin-left: 830px;
      font-size: 40px;
      font-family: 'Caveat', cursive;
      
    }

    .ShowTable {
      width: 60%;
      margin-top: 300px;
      border-spacing: 0;
      margin: 0 auto;

      th {
        border-bottom: solid 5px #fb5144;
        padding: 10px 0;
        width: 20%;
      }
    
      td {
        border-bottom: solid 2px #ddd;
        text-align: center;
        padding: 10px 0;
      }
      .introduction {
        text-align: center;
      }
    }

    .edit {
      display: block;
      background-color: #3CCACE;
      color: #FFFFFF;
      width: 40%;
      height: 48px;
      font-size: 18px;
      border-radius: 100px;
      font-weight: 600;
      border: 1px solid transparent;
      cursor: pointer;
      margin-top: 150px;
      text-decoration: none;
      text-align: center;
      line-height: 48px;
      margin-top: 70px;
    }
    .edit:hover {
      opacity: 0.5;
    }
  }

  .ApplicatedEvent {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    // flex-direction: column;
    align-items: center;
    
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
    }
    .Overview {
      width: 250px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid lightgray;

      &--name {
        text-align: center;
      }
      &--image {
        text-align: center;
      }
    }
  }
}
